<%= error_messages_for 'actual' %>

<!--[form:actual]-->
<p><label for="actual_text">Text aktuality</label><br/>
<%= text_area 'actual', 'text', 'cols' => 80, 'rows'=>20  %></p>



 <p><label for="actual_position">Position: <%= @actual.position %></label><br/> </p> 
 <p><label for="actual_visible">Visible: <%= @actual.visible %></label><br/> </p>



<!--[eoform:actual]-->

