<% for column in Actual.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @actual.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @actual %> |
<%= link_to 'Back', :action => 'list' %>
