<% for column in TestPage.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @test_page.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @test_page %> |
<%= link_to 'Back', :action => 'list' %>
