		&nbsp; <%= link_to "Home", {:action => 'index'},  'class' => 'menu' %><br />
		&nbsp; <%= link_to "Zadat novy Arbeitsblat handelskorrespondenz", { :action=> 'new', :id=> 6}, 'class'=>'menu' %><br />
		&nbsp; <%= link_to "Zadat novy Arbeitsblat grammatik", { :action=> 'new', :id=> 7}, 'class'=>'menu' %><br />
		&nbsp; <%= link_to "Zadat novy Ubung audio", { :action=> 'new', :id=> 4}, 'class'=>'menu' %><br />
		&nbsp; <%= link_to "Zadat novy Ubung text", { :action=> 'new', :id=> 5}, 'class'=>'menu' %><br />
		&nbsp; <%= link_to "Zadat novy Grammatische Test", { :action=> 'new', :id=>3}, 'class'=> 'menu' %><br />	
			<br />
			
			<%= link_to "Logout", { :action=>'logout', :controller=>'users'}, 'class'=>'menu' %>
			