
<% form_tag :action => 'create', :id => @test_page do %>


  <%= render :partial => 'form' %>


  
  
  
  <% end %>
  
<%= link_to 'Zpet bez ulozeni', {:action=>'list'} , :confirm => 'Opravdu se vratit bez ulozeni?'%> 

<%= link_to 'Formatovani textu', '/TwikiHelp.html', :action=>nil %>

  
 
 
<br/>
<iframe src="/TwikiHelp.html" height="800" width="800" scrolling="yes"/>