<%= error_messages_for 'language' %>

<!--[form:language]-->
<p><label for="language_pk_language">Pk language</label><br/>
<%= text_field 'language', 'pk_language'  %></p>

<p><label for="language_language_name">Language name</label><br/>
<%= text_field 'language', 'language_name'  %></p>
<!--[eoform:language]-->

