<h2></h2><%= @test_page.author %>,
<%= @test_page.name %></h2> <br />

<p><span class="navod">
	Lesen Sie alle Aussagen. Hören Sie dann die Audiodatei zweimal an und entscheiden Sie, ob die Aussage dem Hörtext enspricht (R = richtig) oder nicht (F = falsch). Klicken Sie dann auf ABSENDEN, die Übung wird automatisch korrigiert. Die Tabelle zeigt Ihnen Ihr Ergebnis. Jetzt können Sie Ihre Antworten korrigieren (die richtig beantwortete Aussagen sind „passiv“ markiert, die falsch beantworteten Fragen sind „aktiv“ geblieben.
</span></p>

<script src="/javascripts/BatmosphereAudioEmbed.js" type="text/javascript"></script>

<script language="JavaScript" type="text/javascript">
   <!-- //Call external JavaScript file to embed player
   embedPlayer("<%= @test_page.description %>","<%= @test_page.top_text %>"); // title, filename
   // -->
</script>
<br />
<p><span class="navod">
Pokud se vam nedari spustit nahravku, [<a href="<%= @test_page.top_text %>" target="_blank" >kliknete zde</a>]
</span></p>
<hr />

<% form_tag :action => 'audio_eval', :id => @test_page do %>

<br />
<%= @test_page.test_text %>
  
	<br />
	

<%= submit_tag '[Absenden]' %>
  
<% end %>


<%= link_to 'Zurück', {:action => 'audio'}, 'class'=>'menu' %>



