<h2></h2><%= @test_page.author %>,
<%= @test_page.description %></h2> <br />

<script src="/javascripts/BatmosphereAudioEmbed.js" type="text/javascript"></script>

<script language="JavaScript" type="text/javascript">
   <!-- Call external JavaScript file to embed player
   embedPlayer("<%= @test_page.description %>","<%= @test_page.top_text %>"); // title, filename
   // -->
</script>

<hr />

<% form_tag :action => 'audio_eval', :id => @test_page do %>
<%= submit_tag '[Send]' %>
<br />
<%= @test_page.test_text %>
  
	<br />
	
  
<% end %>


<%= link_to 'Back', :action => 'adio' %>



