<p>
	<ul>
	<li>Online Wörterbüch SEZNAM.CZ&nbsp;(<%= link_to  'http://slovnik.seznam.cz/','http://slovnik.seznam.cz/',  {'target'=>'_blank'} %>)
 </li>
<li>
 LangSoft Multilingual Dictionary &nbsp;(<%= link_to  'http://www.slovnik.cz/', 'http://www.slovnik.cz/', {'target'=>'_blank'} %>)
</li>

<li>Online Wörterbuch für Redensarten, Redewendungen, idiomatische
Ausdrücke und feste Wortverbindungen&nbsp;(<%= link_to 'http://www.redensarten-index.de', 'http://www.redensarten-index.de', {'target'=>'_blank'} %>)
</li>
<li>Woxikon Synonyme Datenbank&nbsp;(
<%= link_to 'http://synonyme.woxikon.de/', 'http://synonyme.woxikon.de/', {'target'=>'_blank'} %>)
</li>
<li>Woxikon Multilingual Lexikon&nbsp;(<%= link_to 'http://www.woxikon.de/', 'http://www.woxikon.de/', {'target'=>'_blank'} %>)
</li>
<li>CanooNet Wörterbücher und Grammatik für Deutsch&nbsp;(<%= link_to 'http://www.canoo.net/', 'http://www.canoo.net/', {'target'=>'_blank'} %>)
</li>
</ul>
</p>