<h2>Links</h2>
<p><a href="http://fek.zcu.cz/">http://fek.zcu.cz/</a><br />Fakulta ekonomická ZČU v Plzni </p>

<p><a href="http: www.frvs.cz/" target="_blank">http: www.frvs.cz/</a><br /> Fond rozvoje vysokých škol </p>
<p><a href="http://www.cesnet.cz/"><span class="Internetlink">http://www.cesnet.cz</span><br /></a> CESNET v.s.p.o </p>

<p class="Standard"><a href="http://www.iik-duesseldorf.de/"><span class="Internetlink">http://www.iik-duesseldorf.de/"</span></a>
<br />Institut fuer internationale Kommunikation Duesseldorf<br /><br />
<a href="http://www.wirtschaftsdeutsch.de/"><span class="Internetlink">http://www.wirtschaftsdeutsch.de/</span></a>
<br />Forum Wirtschaftsdeutsch<br /><br /><a href="http://www.sekretariat24.com/"><span class="Internetlink">http://www.sekretariat24.com/</span></a>
<br />Sekretariat24<br /><br />
<a href="http://www.wirtschaft.org/"><span class="Internetlink">http://www.wirtschaft.org/</span></a>
<br />Das Businessportal German<br /><br />
<a href="http://www.goethe.de/"><span class="Internetlink">http://www.goethe.de/</span></a>
<br />Goethe Institut Deutschland<br /><br />
<a href="http://www.deutsch-online.com/"><span class="Internetlink">http://www.deutsch-online.com/</span></a>
<br />Deutsch online<br /></p>
<p class="Standard"><a href="http://www.lehrer-online.de/"><span class="Internetlink">http://www.lehrer-online.de</span></a></p>
<p class="Standard">Lehrer Online - Unterrichten mit digitalen Medien </p>

<p class="Standard"><a href="http://www.bosch-stiftung.de/"><span class="Internetlink">http://www.bosch-stiftung.de/</span></a>
<br />Robert Bosch Stiftung<br /><br />
<a href="http://www.deutsch-als-fremdsprache.de/"><span class="Internetlink">http://www.deutsch-als-fremdsprache.de/</span></a>
<br />Deutsch als Fremdsprache<br /><br />
<a href="http://www.daf-portal.de/"><span class="Internetlink">http://www.daf-portal.de/</span></a>
<br />DaF Portal<br /><br />
<a href="http://www.dihk.de/"><span class="Internetlink">http://www.dihk.de/</span></a>
<br />Deutsche Industrie- und Handelskammertag<br /><br />
<a href="http://www.dtihk.cz/"><span class="Internetlink">http://www.dtihk.cz/</span></a>
<br />Deutsch-Tschechische Industrie- und Handelskammer<br /><br />
<a href="http://www.austria.cz/"><span class="Internetlink">http://www.austria.cz/</span></a>
<br />Oesterreichische Bootschaft Prag<br /><br />
<a href="http://www.deutsche-botschaft.cz/"><span class="Internetlink">http://www.deutsche-botschaft.cz/</span></a>
<br />Deutsche Bootschaft Prag</p>

</ul>