
<h2>Podcasting Liste</h2> 
(Liste zusammengestellt von Andreas Westhofen, IIK Düsseldorf)

<h3>Klasické vyhledávače:</h3>

<ul>
 <li>Yahoo.de (<a href="http://de.search.yahoo.com/audio" target="_blank">http://de.search.yahoo.com/audio</a>)</li> 
 <li>Lycos.de (<a href="http://www.lycos.de/suche/" target="_blank">http://www.lycos.de/suche/</a>) - rošířené vyhledávání "Audio/Musik"</li>
</ul>

<h3>Obecné podcastingové servery:</h3>

<ul>
 <li>Podcastzentrale - <a href="http://www.podcastzentrale.de" target="_blank">http://www.podcastzentrale.de</a></li>
 <li>Podcast-Portal - <a href="http://www.podcast.de" target="_blank">http://www.podcast.de</a></li>
 <li>Podster.de - <a href="http://www.podster.de" target="_blank">http://www.podster.de</a></li>
 <li>Dopcast.de - <a href="http://www.dopcast.de" target="_blank">http://www.dopcast.de</a></li>
 <li>Phonostar.de - <A href="http://www.phonostar.de" target="_blank">http://www.phonostar.de</A></li>
</ul>

<h3>Zpravodajské servery a rádia:</h3>

<ul>
 <li>ARD - <a href="http://www.ard.de/home/podcast" target="_blank">http://www.ard.de/home/podcast</a></li>
 <li>Radio-Web - <a href="http://www.radioweb.de" target="_blank">http://www.radioweb.de</a></li>
 <li>ARD Tagesschau - <a href="http://www.tagesschau.de/podcast" target="_blank">http://www.tagesschau.de/podcast</a></li>
 <li>ZDF Nachrichen - <a href="http://www.heute.de" target="_blank">http://www.heute.de</a></li>
</ul>

<h3>Ekonomika, finance a hospodářství:</h3>

<ul>
 <li>Financial Times Deutschland - <a href="http://www.ftd.de/div/podcast" target="_blank">http://www.ftd.de/div/podcast</a></li>
 <li>Handelsblatt - <a href="http://www.handelsblatt.com/audio" target="_blank">http://www.handelsblatt.com/audio</a></li>
 <li>Bayrischer Rundfunk - <a href="http://www.br-online.de/download-podcast/" target="_blank">http://www.br-online.de/download-podcast</a></li>
</ul>

<h3>Deutsche Welle</h3> 
 <a href="http://www.dw-world.de" target="_blank">http://www.dw-world.de</a>

<ul>
 <li>Erklärungen zu Schlagzeilen aus der aktuellen Tagespresse zu Sprichwörtern, Redewendungen oder zur Grammatik</li>

 <li>Sprachkurse - Audiodateien mit Transkriptionen, Videodateien (aus Fernseh Sprachkursen), Redewendungen, Vokabellisten, Phonetische Hilfen, sprachliche und kulturelle Erläuterungen</li>

 <li>Deutsch im Alltag Reportagen mit Ton und Skripten</li>

 <li>Marktplatz – Deutsche Sprache in der Wirtschaft</li>

</ul>

<hr />
<a href="/Juice22Setup.exe">JUICE Version 2.2 (Deutsch)</a> - Podcast Reciever für unterschiedliche Plattformen

> <a href="/Juice22Setup.exe">zum Herunterladen</a>