<center><small>
[<%= @test_page.author %>: <%= @test_page.name %> ] 	
</small></center>

<h2><b><%= @test_page.description %></b></h2>
<br />

<%= @test_page.top_text %>
<hr />

<% form_tag :action => 'texte_eval', :id => @test_page do %>

<%= @test_page.test_text %>
  
	<br />
	
  <%= submit_tag '[Send]' %>
<% end %>


<%= link_to 'Back', :action => 'texte' %>



