<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> <%= @title %></title>
  <%= stylesheet_link_tag 'styly_ove' %>
</head>
<body background="images/bg.gif" text="Gray" link="Green" vlink="Gray" alink="Gray" leftmargin=0 topmargin=0>


<table 
 width="100%"
 border="0" cellpadding="0" align="left">
   <tr align="left" valign="top">
     <td height="150" colspan="3" align="left" valign="top" background="/images/pozadi_head.jpg">

<img src="/images/face_grant.jpg" height="150" width="900" alt="head logo"/>
  </td></tr>


<tr > <td colspan="3" bgcolor="#f1f1e5">

<div class="vmenu">
<%= 
 
  l = ""
  @odkazy.each do |x|
    
		l += "&nbsp;[<a href=\"#{x[1]}\" class=\"vmenu\">#{x[0]}</a>]&nbsp;"
  end
   l
%>
</td></tr>
<tr><td>

<table border="0" width="100%">
	<tr align="left" valign="top">
	  <td width="200" height="250" colspan="0" rowspan="0" align="right" valign="top" bgcolor="#f1f1e5">

    <%= render "administration/_leftnav_admin" %>
			
		</td>
		<td class="obsah" width="80%" valign="top">
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>
			
		</td>
	</tr>
</table>

</td></tr></table>

<hr>
<div class="paticka"><small><center>(C) ZCU 2007 (paticka)</center></small></div>
</body>
</html>
