<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
	
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  -->
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> <%= @title %></title>
  <%= stylesheet_link_tag 'styly_ove' %>
</head>
<body background="/images/bg.gif" text="Gray" link="Green" vlink="Gray" alink="Gray" leftmargin=0 topmargin=0>

<table 
 width="100%"
 border="0" cellpadding="0" align="left">
   <tr align="left" valign="top">
     <td height="150" colspan="2" align="left" valign="top" background="/eger/images/pozadi_head.jpg">

<img src="/images/face_grant.jpg" height="150" width="900" alt="head logo"/>
  </td></tr>


<tr> <td colspan="2">
<hr />
<div class="radek_odkazu">&nbsp;[<a href="http://www.zcu.cz">ZCU</a>]&nbsp;[FEK]&nbsp;[KJA]&nbsp;[Contact us]&nbsp;[CESNET]&nbsp;[FRVS]&nbsp;[IIK]&nbsp;[WD]&nbsp;[LEHRERONLINE]&nbsp;[JESTA.NET]&nbsp;</div>
<hr />

</td></tr>



<br />


	<tr align="left" valign="top">
	  <td width="200" height="250" colspan="0" rowspan="0" align="right" valign="top" bgcolor="#f1f1e5">

<table cellpadding="10" valign="top" width="200">
  <tr valign="top">
    <td align="right">
		
		-<%= link_to "home", {:action => 'home', :controller=> 'evaluator'}, 'class' => 'menu' %> <br />
		- <%= link_to "arbeitsblatter handelskorrespondenz", { :action=> 'korrespondenz', :controller=>'evaluator'}, :class=>'menu' %> <br />
		-<%= link_to "arbeitsblatter grammatik", { :action => 'grammatik', :controller=>'evaluator'} , :class=>'menu' %><br />
			-<%= link_to "online ubungen audio", { :action=>'audio', :controller=>'evaluator'} , :class=>'menu' %><br />
			-<%= link_to "online ubungen texte", { :action=>'texte', :controller=>'evaluator'}, :class=>'menu'  %><br />
			
			<br />
			-<a href="mailt:ove@kja.zcu.cz" class="menu" >mail me</a>		<br />
			-kontakt <br />
			-FRVS <br/>
			-links <br />
			    <a href="http://slovnik.seznam.cz/sl.fcgi?src_trg=cz_de" target="dictionary" class="menu">Wörterbuch</a>
  <br>

  
<form action="http://slovnik.seznam.cz/sl.fcgi" method="get" name="slovnik" target="onlineDictionary">
            
  CZ-&gt;DE<input type="radio" name="src_trg" value="cz_de"> &nbsp;
  DE-&gt;CZ<input type="radio" name="src_trg" value="de_cz" checked>
  <br>
  <input type="Text" name="word" value="" size="15"><br/>
  <input type="submit" name="Preloz" value="übersetzen">

  
</form>

  
  <br>
			
		</td>
		
		</td></tr></table>
		
		
		    <td width="100%" height="900" colspan="0" rowspan="0" align="left" valign="top">
	<!-- 	<td class="obsah" width="80%" valign="top">  -->
<p style="color: green"><%= flash[:notice] %></p>
      <table width="100%" cellpadding="10"><tr><td>
<%= yield  %>
      </td> </tr>
      </table>
			
		</td>
	</tr>
</table>



<hr>
<div class="paticka"><small><center>(C) ZCU 2007 (paticka)</center></small></div>
</body>
</html>
