<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
  <head>
    <title><%= @title %></title>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
		<%= stylesheet_link_tag 'styly_ove.css' %>
    
   </head>

<body background="images/bg.gif" text="Gray" link="Green" vlink="Gray" alink="Gray" leftmargin=0 topmargin=0>

